before_script:
  - pwd

# needed, as the py2/py3 jobs can't run simultaneously
stages:
  - python2-nose
  - python3-nose

python2:
  stage: python2-nose
  when: always
  script:
    - sudo service gdm stop
    - sleep 5
    - dogtail-run-headless-next "nosetests-2.7 --with-coverage --cover-package=dogtail -v tests/"

python3:
  stage: python3-nose
  when: always
  script:
    - sudo service gdm stop
    - sleep 5
    - dogtail-run-headless-next "nosetests-3.4 --with-coverage --cover-package=dogtail -v tests/"
