include COPYING
include MANIFEST.in
include Makefile
include HACKING
include INSTALL
include NEWS
include dogtail.spec
recursive-include docs *
recursive-include scripts *
include sniff/sniff.glade sniff/sniff.desktop sniff/icons/*.xpm
recursive-include examples *.py *.txt *.png *.cfg
include icons/*.svg icons/*.png
