include README.md
include COPYING
include MANIFEST.in
include Makefile
include INSTALL
include NEWS
include dogtail.spec
recursive-include docs *
recursive-include scripts *
include sniff/sniff.ui sniff/sniff.desktop sniff/icons/*.png
recursive-include examples *.py *.txt *.png *.cfg
include icons/*.svg icons/*.png
recursive-include tests *.py
